@keyframes loading--spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  overflow: hidden;
}

.loading--spin {
  animation: loading--spin 2s linear infinite;
}
